<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="clr-namespace:GMap.NET.WindowsForms;assembly=GMap.NET.WindowsForms">
			<dependentAssembly>
				<assemblyIdentity name="GMap.NET.WindowsForms" publicKeyToken="b85b9027b614afef" culture="neutral" /> 
				<bindingRedirect oldVersion="0.0.0.0-1.7.5.0" newVersion="1.7.5.0"></bindingRedirect>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>